<!-- Zaamin Qadeer w1906890 -->
{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="vote-header">
    <h2>About the Health Check System</h2>
</div>
<div class="about-container">
    <h1></h1>
    <p>This system is developed to help manage departments, teams, and users efficiently within Sky.</p>

    <p2>Our Team (Group 12)</p2>
    <ul>
        <li>Godswill Ayogu</li>
        <li>Zaamin Qadeer</li>
        <li>Krystian Dolinski</li>
        <li>Fares Bouchair</li>
        <li>Mohammed Shahin</li>
    </ul>
</div>
{% endblock %}