{% extends 'core/base.html' %}
{% load static %}

{% block title %}About - HealthCheck{% endblock %}

{% block content %}
<div class="about-container">
    <h1>About the HealthCheck System</h1>
    <p>This system is developed to help manage departments, teams, and users efficiently within an organisation.</p>

    <h2>Our Team (Group 12)</h2>
    <ul>
        <li>Godswill Ayogu</li>
        <li>Zaamin Qadeer</li>
        <li>Krystian Dolinski</li>
        <li>Fares Bouchair</li>
        <li>Mohammed Shahin</li>
    </ul>
</div>
{% endblock %}